body {
  font-family: noteworthy;
  font-weight: lighter;
}

.main {
  width: 900px;
  border: 4px solid white;
  padding: 40px 40px 40px 40px;
  border: 3px solid white;
  border-radius: 15px;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputField {
  width: 800px;
  height: 30px;
  border: 3px solid grey;
  border-radius: 10px;
  padding-left: 8px;
}

.inputButton{
  width: 150px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 18px;
}

.inputButton:hover{
  background: #0FC754;
}

.taskContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#todoHeader {
  width: 800px;
  height: 35px;
  color: white;
  background: #4BA6ED;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

#completeHeader {
  width: 800px;
  height: 35px;
  color: white;
  background: #0FC754;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

.todoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 700px;
}

.completeButton {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.completeButton:hover {
  background: #0FC754;
}

.todoItem {
  color: white;
  width: 400px;
  margin-left: 20px;
}

.completedItems {
  text-align: justify;
  color: white;
  margin-left: 55px;
}
